In [1]:
import pandas as pd
df2_p = pd.read_csv(r'C:\Users\brian\Desktop\JUNSOO\exhibition\data\StudentParent_counsel.csv', encoding = 'cp949')
df3_c = pd.read_csv(r'C:\Users\brian\Desktop\JUNSOO\exhibition\data\SchoolCircle.csv' , encoding = 'cp949')
df4_t = pd.read_csv(r'C:\Users\brian\Desktop\JUNSOO\exhibition\data\SchoolTeacher.csv' , encoding = 'cp949')

In [28]:
## 결측치 처리
df2_p['공시연도'].dropna(inplace = True)
df3_c['공시연도'].dropna(inplace = True)
df4_t['공시연도'].dropna(inplace = True)

## 유효 칼럼 작성

# 학교별 학부모 상담 건수
col_p = [ '상담실적(내부상담전문가)'
          ,'상담실적(외부상담전문가)'
          ,'공시연도'
          ,'정보공시 학교코드']

# 학교별 동아리 활동
col_c = ['창의적체험활동동아리 동아리수'
         ,'창의적체험활동동아리 동아리활동 예산지원현황'
         ,'공시연도'
         ,'정보공시 학교코드']

# 학교별 교수학습공간
col_t = ['교수학습공간 일반교실'
         ,'교수학습공간 교과교실'
         ,'교수학습공간 교과교실'
         ,'교수학습공간 특별교실'
         ,'공시연도'
         ,'정보공시 학교코드']


## 데이터프레임 작성

# 학교별 학부모 상담건수
counsel = df2_p[col_p]

# 학교별 동아리 활동
# float ==> int 해결!!****

df3_c['공시연도'] = pd.to_numeric(df3_c['공시연도'] , errors = 'coerce')
df3_c = df3_c.dropna(subset = ['공시연도'])
df3_c['공시연도'] = df3_c['공시연도'].astype(int)

circle = df3_c[col_c]

# 학교별 교수학습공간
studyroom = df4_t[col_t]

In [2]:
df3_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4609 entries, 0 to 4608
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   시도교육청                    4609 non-null   object
 1   시도교육청코드                  4609 non-null   object
 2   교육지원청                    4609 non-null   object
 3   교육지원청코드                  4609 non-null   object
 4   지역                       4608 non-null   object
 5   지역코드                     4608 non-null   float64
 6   소재지구분코드                  4609 non-null   int64
 7   정보공시 학교코드                4609 non-null   object
 8   학교명                      4609 non-null   object
 9   학교급코드                    4609 non-null   int64
 10  설립구분                     4609 non-null   object
 11  제외여부                     4609 non-null   object
 12  제외사유                     13 non-null     object
 13  창의적체험활동동아리 동아리수          4596 non-null   float64
 14  창의적체험활동동아리 참여학생수         4596 non-null   float64
 15  창의적체험활동동아리 지도교사수         4596 non-null   float64
 16  창의적체험활동동아리 자원봉사 또는외부강사수  4596 non-null   float64
 17  창의적체험활동동아리 동아리활동 예산지원현황  4596 non-null   float64
 18  학생자율동아리 동아리수             4596 non-null   float64
 19  학생자율동아리 참여학생수            4596 non-null   float64
 20  학생자율동아리 지도교사수            4596 non-null   float64
 21  학생자율동아리 자원봉사 또는외부강사수     4596 non-null   float64
 22  학생자율동아리 동아리활동 예산지원현황     4596 non-null   float64
 23  학교과정구분값(2-3-4)           1728 non-null   float64
 24  학교과정구분명(초-중-고)           1728 non-null   object
 25  공시연도                     4283 non-null   float64
dtypes: float64(13), int64(2), object(11)
memory usage: 936.3+ KB

In [5]:
def makekey(df):
        if df['공시연도'].dtype == int:
            df['key'] = df['정보공시 학교코드'] + "-" + df['공시연도']
            result = df['key']
        else:
            df['공시연도'] = pd.to_numeric(df['공시연도'] , errors = 'coerce')
            df = df.dropna(subset = ['공시연도'])
            df['공시연도'] = df['공시연도'].astype(int)
            df['공시연도'] = df['공시연도'].astype({'공시연도':'str'})
            df['key'] = df['정보공시 학교코드'] + "-" + df['공시연도']
            result = pd.DataFrame(df['key'])
        return result
def concatkey(df):
        result = pd.concat([pd.DataFrame(df['key']) , df] , axis = 1)
        return result

func_list = [makekey, concatkey]

def key (func_list , df):
      f1 = func_list[0]
      f2 = func_list[1]
      return f2(f1(df))

In [6]:
key(func_list , df3_c)

C:\Users\brian\AppData\Local\Temp\ipykernel_24896\2410798481.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['공시연도'] = df['공시연도'].astype(int)
C:\Users\brian\AppData\Local\Temp\ipykernel_24896\2410798481.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['공시연도'] = df['공시연도'].astype({'공시연도':'str'})
C:\Users\brian\AppData\Local\Temp\ipykernel_24896\2410798481.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['key'] = df['정보공시 학교코드'] + "-" + df['공시연도']

                  key              key
0     S000003511-2022  S000003511-2022
1     S000003563-2022  S000003563-2022
2     S010000738-2022  S010000738-2022
3     S010000741-2022  S010000741-2022
4     S010000742-2022  S010000742-2022
...               ...              ...
4604  S010002502-2024  S010002502-2024
4605  S010002503-2024  S010002503-2024
4606  S010002504-2024  S010002504-2024
4607  S010002525-2024  S010002525-2024
4608  S010006282-2024  S010006282-2024

[4283 rows x 2 columns]

In [5]:
df3_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4283 entries, 0 to 4608
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   key                      4283 non-null   object
 1   시도교육청                    4283 non-null   object
 2   시도교육청코드                  4283 non-null   object
 3   교육지원청                    4283 non-null   object
 4   교육지원청코드                  4283 non-null   object
 5   지역                       4282 non-null   object
 6   지역코드                     4282 non-null   float64
 7   소재지구분코드                  4283 non-null   int64
 8   정보공시 학교코드                4283 non-null   object
 9   학교명                      4283 non-null   object
 10  학교급코드                    4283 non-null   int64
 11  설립구분                     4283 non-null   object
 12  제외여부                     4283 non-null   object
 13  제외사유                     11 non-null     object
 14  창의적체험활동동아리 동아리수          4272 non-null   float64
 15  창의적체험활동동아리 참여학생수         4272 non-null   float64
 16  창의적체험활동동아리 지도교사수         4272 non-null   float64
 17  창의적체험활동동아리 자원봉사 또는외부강사수  4272 non-null   float64
 18  창의적체험활동동아리 동아리활동 예산지원현황  4272 non-null   float64
 19  학생자율동아리 동아리수             4272 non-null   float64
 20  학생자율동아리 참여학생수            4272 non-null   float64
 21  학생자율동아리 지도교사수            4272 non-null   float64
 22  학생자율동아리 자원봉사 또는외부강사수     4272 non-null   float64
 23  학생자율동아리 동아리활동 예산지원현황     4272 non-null   float64
 24  학교과정구분값(2-3-4)           1621 non-null   float64
 25  학교과정구분명(초-중-고)           1621 non-null   object
 26  공시연도                     4283 non-null   object
 27  key                      4283 non-null   object
dtypes: float64(12), int64(2), object(14)
memory usage: 970.4+ KB

In [6]:
df3_c = addkey(df3_c)

C:\Users\brian\AppData\Local\Temp\ipykernel_3904\2485578146.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['공시연도'] = df['공시연도'].astype(int)
C:\Users\brian\AppData\Local\Temp\ipykernel_3904\2485578146.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['공시연도'] = df['공시연도'].astype({'공시연도':'str'})
C:\Users\brian\AppData\Local\Temp\ipykernel_3904\2485578146.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['key'] = df['정보공시 학교코드'] + "-" + df['공시연도']
C:\Users\brian\AppData\Local\Temp\ipykernel_3904\2485578146.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['key'] = pd.DataFrame(df['key'])

In [7]:
df3_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4283 entries, 0 to 4608
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   key                      4283 non-null   object
 1   시도교육청                    4283 non-null   object
 2   시도교육청코드                  4283 non-null   object
 3   교육지원청                    4283 non-null   object
 4   교육지원청코드                  4283 non-null   object
 5   지역                       4282 non-null   object
 6   지역코드                     4282 non-null   float64
 7   소재지구분코드                  4283 non-null   int64
 8   정보공시 학교코드                4283 non-null   object
 9   학교명                      4283 non-null   object
 10  학교급코드                    4283 non-null   int64
 11  설립구분                     4283 non-null   object
 12  제외여부                     4283 non-null   object
 13  제외사유                     11 non-null     object
 14  창의적체험활동동아리 동아리수          4272 non-null   float64
 15  창의적체험활동동아리 참여학생수         4272 non-null   float64
 16  창의적체험활동동아리 지도교사수         4272 non-null   float64
 17  창의적체험활동동아리 자원봉사 또는외부강사수  4272 non-null   float64
 18  창의적체험활동동아리 동아리활동 예산지원현황  4272 non-null   float64
 19  학생자율동아리 동아리수             4272 non-null   float64
 20  학생자율동아리 참여학생수            4272 non-null   float64
 21  학생자율동아리 지도교사수            4272 non-null   float64
 22  학생자율동아리 자원봉사 또는외부강사수     4272 non-null   float64
 23  학생자율동아리 동아리활동 예산지원현황     4272 non-null   float64
 24  학교과정구분값(2-3-4)           1621 non-null   float64
 25  학교과정구분명(초-중-고)           1621 non-null   object
 26  공시연도                     4283 non-null   object
 27  key                      4283 non-null   object
dtypes: float64(12), int64(2), object(14)
memory usage: 970.4+ KB

In [5]:
## key 값 생성

# 학교별 학부모 상담 건수
counsel = counsel.astype({'공시연도':'str'})
counsel['key'] = counsel['정보공시 학교코드'] + "-" + counsel['공시연도']

# 학교별 동아리 활동
circle = circle.astype({'공시연도':'str'})
circle['key'] = circle['정보공시 학교코드'] + "-" + circle['공시연도']

# 학교별 교수학습 공간
studyroom = studyroom.astype({'공시연도':'str'})
studyroom['key'] = studyroom['정보공시 학교코드'] + "-" + studyroom['공시연도']

In [7]:
## key 값으로 인덱스 재 설정하기


(counsel
 .set_index(keys = 'key'
            ,inplace = True)
            )
(circle
 .set_index(keys = 'key'
            ,inplace = True))

(studyroom
 .set_index(keys = 'key'
            ,inplace = True))

In [8]:
## 필요없는 칼럼 지우기

(counsel.drop(columns = '공시연도' , inplace = True))
(counsel.drop(columns = '정보공시 학교코드' , inplace = True))

(circle.drop(columns = '공시연도' , inplace = True))
(circle.drop(columns = '정보공시 학교코드' , inplace = True))

(studyroom.drop(columns = '공시연도' , inplace = True))
(studyroom.drop(columns = '정보공시 학교코드' , inplace = True))

In [9]:
final1 = pd.merge(counsel , studyroom, how = "outer" , on = 'key')
final2 = pd.merge(final2, circle, how = "outer", on = 'key')
final =  final2.drop_duplicates()

In [11]:
final.to_csv(r'C:\Users\brian\Desktop\JUNSOO\exhibition\data\dataset.csv' , encoding = "euc-kr")